* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.about {
  background: #014E56;
  height: 527px;
}

.about__title {
  display: flex;
  margin-top: 73px;
  text-align: center;
  padding-top: 77px;
}

.title__text {
  color: white;
  margin-left: 165px;
  width: 159.95px;
  height: 40px;
}

.about__list {
  display: flex;
  list-style: none;
  margin-top: 9px;
}

.title__itom {
  text-decoration: none;
  color: white;
  width: 600px;
  height: 18px;
}

.title__itom__two {
  text-decoration: none;
  color: white;
  width: 600px;
  height: 18px;
  margin-left: 40px;
}

.about__btn {
  display: flex;
  width: 935px;
  justify-content: end;
}

.about__btn__title {
  width: 153px;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  color: white;
  background-color: #014E56;
}

.home {
  display: flex;
  width: 1110px;
  height: 156px;
}

.home__text {
  width: 350px;
  height: 100px;
  font-size: 64px;
  margin-top: 125px;
  margin-left: 30px;
  color: white;
  margin-left: 165px;
}

.home__help {
  height: 112px;
  left: 0%;
  right: 0%;
  top: calc(50% - 56px + 22px);
  font-family: "Livvic";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  color: white;
  width: 600px;
  height: 18px;
  margin-top: 155px;
}

.home__ago {
  display: flex;
  justify-content: flex-end;
  margin-top: 43px;
}

.meet {
  width: 1440px;
  height: 1054px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #004047;
}

.meet__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 600px;
  width: 1300px;
  padding-top: 30px;
  padding-left: 171px;
}

.list__itom {
  background: #012F34;
  height: 253px;
  width: 350px;
  text-align: center;
  border-radius: 0px;
  padding-top: 40px;
  padding-bottom: 151px;
}

.meet__ago {
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  margin-bottom: 81px;
}

.list__itom h4 {
  margin-top: 16px;
  width: 300px;
  height: 28px;
  color: #79C8C7;
  padding-left: 50px;
}

.list__itom p {
  color: white;
  height: 75px;
  width: 254px;
  margin-left: 50px;
}

.some {
  background: #012F34;
}

.some__text {
  text-align: center;
}

.some__text h2 {
  color: white;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 70px;
}

.some__text a img {
  text-decoration: none;
  margin-bottom: 140px;
}

.read {
  background: #F67E7E;
  width: 1440px;
  height: 269px;
}

.read__title {
  display: flex;
  justify-content: center;
  padding-top: 76px;
}

.read__title h2 {
  color: #012F34;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin-left: 63px;
}

.read__btn {
  width: 153px;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  color: white;
  margin-left: 260px;
  background-color: #F67E7E;
  border: 1px solid #012F34;
  color: #012F34;
}

.last {
  width: 1440px;
  height: 196px;
  background: #002529;
}

.last__title {
  padding-top: 48px;
  align-items: center;
  padding-left: 165px;
}

.home__one {
  background-color: #014E56;
  height: 700px;
  background-image: url("../../index_img/best.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.find {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: end;
  padding-top: 73px;
}

.find img {
  height: 40px;
  width: 159.9468841553px;
  left: 165px;
  top: 77px;
  border-radius: 0px;
  margin-left: 165px;
  margin-right: 80px;
}

.find__list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.find__list__itom {
  height: 28px;
  left: 0%;
  right: 65%;
  top: calc(50% - 14px);
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin-top: 7px;
}

.find__list__itom a {
  color: white;
  text-decoration: none;
}

.find__btn {
  width: 153px;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  color: white;
  margin-left: 577px;
  background-color: #014E56;
}

.best {
  display: flex;
  margin-top: 129px;
  justify-content: center;
  text-align: center;
  height: 200px;
  width: 100%;
}

.best h2 {
  height: 200px;
  width: 635px;
  left: 165px;
  top: 250px;
  border-radius: nullpx;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  margin-left: 100px;
  height: 200px;
  width: 635px;
  left: 165px;
  top: 250px;
  border-radius: nullpx;
}

.best__p {
  height: 112px;
  width: 445px;
  left: 0px;
  top: 83px;
  border-radius: nullpx;
  margin-top: 80px;
  margin-left: 30px;
}

.best p {
  height: 112px;
  left: 0%;
  right: 0%;
  top: calc(50% - 56px + 41.5px);
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: white;
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.best__img__one {
  margin-top: 155px;
}

.home__two {
  background-color: #012F34;
  height: 700px;
  background-image: url("../../index_img/else.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.else {
  width: 1300px;
  height: 648px;
}

.else__text {
  padding-top: 198px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -350px;
}

.else__h2 {
  height: 144px;
  width: 445px;
  left: 165px;
  top: 898px;
  border-radius: nullpx;
  color: white;
  width: 445px;
  height: 144px;
  left: 165px;
  top: 898px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.home__two__list {
  padding: 90px;
  margin-left: 150px;
  width: 540px;
  height: 346px;
}

.home__list__itom {
  display: flex;
}

.home__list__itom img {
  margin-right: 23px;
  height: 72px;
  width: 72px;
  left: 735px;
  top: 1150px;
  border-radius: 0px;
}

.home__list__itom h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
  height: 28px;
  width: 445px;
  left: 0px;
  top: 0px;
  border-radius: nullpx;
}

.home__list__itom p {
  height: 50px;
  width: 445px;
  left: 0px;
  top: 44px;
  border-radius: nullpx;
  font-weight: 600;
  font-size: 15px;
  color: white;
  margin-top: 16px;
}

.else__img {
  display: flex;
  height: 10px;
  justify-content: end;
  align-items: center;
}

.home__thri {
  height: 745px;
  background: #004047;
  background-image: url("../../index_img/real__one.png"), url("../../index_img/real__two.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.real__text h2 {
  height: 96px;
  width: 932px;
  border-radius: nullpx;
  color: white;
  font-family: Livvic;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  padding: 140px;
  margin-left: 190px;
}

.real__list {
  list-style: none;
  display: flex;
  margin-left: 170px;
  text-align: center;
}

.real__list p {
  height: 100px;
  width: 350px;
  left: 0px;
  top: 36px;
  border-radius: nullpx;
  height: 100px;
  left: 0%;
  right: 68.47%;
  top: calc(50% - 50px - 70.5px);
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: white;
}

.real__list h4 {
  height: 28px;
  width: 350px;
  left: 0px;
  top: 0px;
  border-radius: nullpx;
  font-family: Livvic;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: #79C8C7;
  margin-top: 24px;
}

.real__text__i {
  font-style: italic;
  color: white;
}

.real__list img {
  height: 62px;
  width: 62px;
  left: 144px;
  top: 240px;
  border-radius: 0px;
  left: 12.97%;
  right: 81.44%;
  top: 76.68%;
  bottom: 3.51%;
  background: url(Image.png);
  margin-top: 32px;
}

.home__for {
  height: 200px;
  background-color: #F67E7E;
  background-image: url("../../index_img/get.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.get__text {
  display: flex;
  padding-top: 76px;
  justify-content: center;
}

.get__text h2 {
  height: 48px;
  width: 504px;
  left: 0px;
  top: 0px;
  border-radius: nullpx;
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  color: #012F34;
}

.get__text button {
  width: 153px;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  color: white;
  background-color: #F67E7E;
  margin-left: 260px;
  border: 1px solid #012F34;
  color: #012F34;
}

.home__five {
  height: 196px;
  background-color: #002529;
  text-align: center;
}

.text__list {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-top: 25px;
}

.text__list a {
  text-decoration: none;
  color: white;
}

.book__ {
  display: flex;
}

.book img {
  padding-top: 48px;
}

.text_p {
  height: 100px;
  width: 140px;
  left: 285px;
  top: 0px;
  border-radius: nullpx;
  font-family: Livvic;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.6;
  color: white;
  margin-left: 150px;
}

.text_p p {
  padding-bottom: 1000px;
}/*# sourceMappingURL=main.css.map */