.home__for{
    height: 200px;
    background-color: $lightpink;
    background-image: url('../../index_img/get.png');
background-repeat: no-repeat;
background-position: bottom left;


}
.get__text{
    display: flex;
    padding-top: 76px;
 justify-content: center;
}
.get__text h2{
    height: 48px;
width: 504px;
left: 0px;
top: 0px;
border-radius: nullpx;
font-family: Livvic;
font-size: 48px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0px;
text-align: left;
color: $dark__twoblue;
}
.get__text button{
    @include contact__us;
background-color: $lightpink;
margin-left: 260px;
border: 1px solid $dark__twoblue;
color: $dark__twoblue;
}